* {
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    text-align: center;
    margin: 0;
    padding: 0;
}

.btn {
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
    font-family: inherit;
    font-size: 20px;
    color: #FF2E63;
    letter-spacing: 1px;
    padding: 10px 20px 10px 20px;
    border: solid #FF2E63 2px;
    text-decoration: none;
    background: #fcfbfb;
    cursor: pointer;
    position: relative;
}

/* Navbar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.navbar button {
    border: 0;
    padding: 0;
    margin: 0;
}

.nav-brand {
    font-family: 'Dancing Script', cursive;
    font-weight: 800;
    font-size: 2.5rem;
    color: #FF2E63;
    margin: 16px;
    text-decoration: none;
}

.navbar-links {
    height: 100%;
    padding: 10px;
}

.navbar-links a {
    color: #252A34;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 1px;
    display: block;
    padding: 16px 32px;
}

.navbar a.active {
    font-weight: 700;
}

.navbar a:hover {
    font-weight: 700;
    color: #FF2E63;
}

.toggle-button {
    position: absolute;
    top: 2rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    cursor: pointer;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #252A34;
    border-radius: 10px;
}


@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}


/* Hero Page*/

.hero {
    height: calc(100vh - 80px);
    position: relative;
    overflow: hidden;
}

.hero-wrapper {
    padding: 0 50px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: 100%; 
}

.hero-left {
    flex: 1;
}

.hero-right {
    flex: 1;
    position: relative;
    height: 100%;
}

.blob {
    position: absolute;
    bottom: 10%;
    height: 80%;
    width: 450px; 
    overflow: hidden;
    border-radius: 50% 50% 46% 54% / 53% 38% 62% 47%;
    background: url(images/profile-img.png);
    background-size: cover;
    background-position: center;
}

.pink-blob-1{
    position: absolute;
    right: -40%;
    top: -5%;
    height: 60%;
    width: 50%;
    max-width: 100%;
    border-radius: 48% 52% 67% 33% / 53% 38% 62% 47% ;
    background-color: #FF2E63;
    opacity: 0.3;
}

.pink-blob-2{
    position: absolute;
    left: -30%;
    top: 75%;
    height: 50%;
    width: 50%;
    overflow: hidden;
    border-radius: 48% 52% 67% 33% / 53% 38% 62% 47% ;
    background-color: #FF2E63;
    opacity: 0.3;
}

.pink-blob-3{
    position: absolute;
    right: 5%;
    bottom: -5%;
    height: 20%;
    width: 10%;
    overflow: hidden;
    border-radius: 48% 52% 48% 52% / 53% 43% 57% 47%;
    background-color: #FF2E63;
    opacity: 0.3;
}

.hero h1 {
    font-size: 60px;
    margin: 0 0 15px;
    color: #414da9;
    font-family: 'Dancing Script', cursive;
    font-weight: 500;
}

.hero h3 {
    color: #252A34;
    letter-spacing: 2.1px;
    width: fit-content;
    margin: 20px auto;
}

.down-arrow {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    opacity: 0.4;
}

@media (max-width: 768px) {
    .hero{
        padding: 0 10px;
    }
    .hero-wrapper {
        flex-direction: column;
        padding: 0 10px;
    }

    .hero-left {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .hero-right {
        display: flex;
        justify-content: center;
        flex: 1.5;
    }

    .blob {
        width: 280px;
        height: 90%;
    }

    .pink-blob-3{
        width: 60px;
        height: 70px;
    }

    .hero h1 {
        font-size: 55px;
        margin: 0 auto;
    }

    .hero h3 {
        margin: 5px auto;
    }
}

/* Sections */


h2 {
    font-size: 60px;
    font-family: 'Dancing Script', cursive;
    font-weight: 500;
    color: #414da9;
}

h3 {
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1.5;
    color: #FF2E63;
}

p {
    font-size: 20px;
    padding-bottom: 20px;
    margin: 0;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: inherit;
    list-style: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

hr {
    border-color: #EAF6F6;
    border-style: dotted none none;
    border-width: 6px;
    width: 3%;
    margin: 50px auto;
}

@media only screen and (max-width: 768px) {
    h2 {
        font-size: 45px;
    }

    hr {
        width: 6%;
    }
}

/* About Me */

.about-subtitle {
    padding: 0 15px;
}

.about-description {
    margin: auto;
    width: 100%;
    line-height: 200%;
    padding: 50px 15px;
}

.skills-container {
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.skills-title {
    margin-top: 30px;
    text-transform: uppercase;
}

.skills-title p {
    font-size: 18px;
}

.skills-title span {
    font-size: 50px;
}

.skills-title i:hover {
    transform: scale(1.3);
    -moz-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    color: #FF2E63;
}

@media (min-width: 768px) {
    .about-description {
        width: 65%;
    }

    .skills-container {
        grid-template-columns: repeat(3, 1fr);
        padding: 60px 150px 0px;
    }
}

/*Projects*/

.project-container {
    padding: 0px 100px;
}

.col.img,
.col.description {
    padding-bottom: 50px;
}

.project-image {
    width: 70%;
    min-width: 320px;
    height: 300px;

}

.project-details {
    width: 100%;
    margin: auto;
    padding-bottom: 20px;
}

.project-tech {
    text-transform: uppercase;
    font-style: italic;
}


.project-details a {
    margin: auto;
    width: 100%;
    color: #252A34;
    font-size: 18px;
    text-transform: uppercase;
}

.project-description a:hover {
    color: #FF2E63;
}

@media only screen and (max-width: 768px) {

    .project-title,
    .project-details {
        text-align: center;
    }
}

@media only screen and (max-width: 1300px) {
    .project-container {
        padding: 0;
    }
}


/* Contact form */

.row::after {
    content: "";
    clear: both;
    display: block;
}

.col {
    position: relative;
    padding: 15px;
    width: 100%;
}

.col.details {
    float: left;
}

.col.form {
    float: left;
}

.col form::before {
    content: "";
    background: url(images/contact-picture.jpg) center center no-repeat;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.60;
}

.contact-intro {
    width: 100%;
    margin: auto;
}

a.mail:hover {
    color: #FF2E63;
}

a.mail {
    text-transform: uppercase;
}

.social-network-icons {
    padding: 40px;
}

.social-link {
    font-size: 28px;
    color: #FF2E63;
    margin: 40px 10px;
}

a.social-link:hover {
    color: gray;
}

.contact-form {
    height: 600px;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: auto;
}

.contact-form input {
    font-size: 18px;
    font-family: inherit;
    padding: 0;
    margin: 0;
    list-style: none;
    margin-bottom: 10px;
    overflow: hidden;
    display: block;
    clear: both;
    position: relative;
    border: none;
    border-radius: 20px;

}

input:focus,
input:active,
textarea:focus {
    outline: 2px solid #60c2a1;
}

.contact-form input[type="text"] {
    width: 49%;
    margin-left: 2%;
    float: left;
    clear: none;
    border: 5;
    height: 50px;
    padding: 0 20px;
    position: relative;

}

.contact-form input[placeholder="First Name"] {
    margin-left: 0%;
}

.contact-form input[type="email"] {
    width: 100%;
    border: 5;
    height: 50px;
    padding: 0 20px;
}

.contact-form textarea {
    font-size: 18px;
    font-family: inherit;
    width: 100%;
    border: none;
    height: 50px;
    padding: 20px;
    min-height: 150px;
    margin-bottom: 20px;
    border-radius: 20px;
    position: relative;
}

@media (min-width:768px) {
    .col {
        width: 50%;
    }

    .contact-intro {
        width: 70%;
    }

    .contact-form {
        width: 70%;
    }

    .social-link {
        font-size: 30px;
    }
}


/* Footer*/


.footer {
    text-align: center;
    background-color: #464b70;
    padding: 80px 30px 30px;
}

.footer p {
    color: white;
    font-size: 16px;
    text-transform: uppercase;
}


#preloader {
    background: white url(images/butterfly.gif) no-repeat center center;
    background-size: 50%;
    height: 700px;
    width: 100%;
    position: fixed;
    display: flex;
    z-index: 100;
}